Repository vuejs/vuepress, pull requests merged in 2019-09, with the labels that each got.

#1832 feat: reenable search
  packages/docs/docs/.vuepress/config.js
Labels: complexity: easy, status: core team assigned, topic: docs, type: enhancement, version: 1.x

#1814 docs: Fix typo in permalinks.md fix #1813
  packages/docs/docs/guide/permalinks.md
Labels: status: core team assigned, topic: docs, type: enhancement, version: 1.x

#1427 refactor($theme-default): extract page components
  packages/@vuepress/theme-default/components/Page.vue
  packages/@vuepress/theme-default/components/PageEdit.vue
  packages/@vuepress/theme-default/components/PageNav.vue
  packages/@vuepress/theme-default/components/SidebarLink.vue
Labels: complexity: easy, effort: low, status: core team assigned, topic: theme, type: enhancement, version: 1.x

#1455 feat($core): better layout check
  packages/@vuepress/core/lib/node/loadTheme.js
  packages/@vuepress/core/lib/node/theme-api/index.js
  packages/@vuepress/theme-default/components/Page.vue
Labels: complexity: medium, effort: low, status: core team assigned, topic: theme, type: enhancement, version: 1.x

#1759 Improve CI process
  .circleci/config.yml
  package.json
  packages/docs/docs/miscellaneous/local-development.md
Labels: status: core team assigned, topic: config, type: enhancement, version: 1.x

#1826 fix: Add `npm install`
  packages/docs/docs/guide/deploy.md
Labels: topic: config, type: enhancement, version: 1.x

#1827 refactor($core): stop watching unnecessary events
  packages/@vuepress/core/lib/node/dev/index.js
Labels: status: core team assigned, topic: config, type: question or discussion, version: 1.x

#1846 fix: #1845 bump js-yaml
  packages/@vuepress/core/package.json
Labels: status: awaiting response

#1834 feat($theme): Add search box placeholder setting to theme-config
  packages/@vuepress/plugin-search/SearchBox.vue
  packages/@vuepress/theme-default/components/AlgoliaSearchBox.vue
  packages/docs/docs/theme/default-theme-config.md
Labels: complexity: easy, status: awaiting response, topic: theme, type: enhancement, version: 1.x

#1840 fix($theme-default): add text ellipsis to navbar (#1683)
  packages/@vuepress/theme-default/components/Navbar.vue
Labels: status: awaiting response, topic: theme, type: feature request, version: 1.x

#1640 fix($last-updated): use file author time instead of submodule commit time (1.x)
  packages/@vuepress/plugin-last-updated/index.js
Labels: status: community assigned, topic: plugins, type: enhancement, version: 1.x

#1546 feat(options): make enhancers async ready without breaking changes
  packages/@vuepress/core/lib/node/Page.js
  packages/@vuepress/core/lib/node/__tests__/prepare/Page.spec.js
  packages/docs/docs/plugin/option-api.md
Labels: status: core team assigned, type: enhancement, version: 1.x

#1728 fix: search box max suggestions not working as expected
  packages/@vuepress/plugin-search/SearchBox.vue
Labels: status: awaiting response, status: core team assigned, topic: config, topic: theme, type: enhancement, version: 1.x

#1848 feat($plugin-search): Add support for search hotkeys
  packages/@vuepress/plugin-search/SearchBox.vue
  packages/@vuepress/plugin-search/index.js
  packages/docs/docs/plugin/official/plugin-search.md
Labels: status: awaiting response, type: enhancement, version: 1.x

#1837 fix($theme-default): Make navbar dropdown links accessible
  packages/@vuepress/theme-default/__tests__/components/DropdownLink.spec.js
  packages/@vuepress/theme-default/__tests__/components/__snapshots__/DropdownLink.spec.js.snap
  packages/@vuepress/theme-default/components/DropdownLink.vue
  packages/@vuepress/theme-default/components/NavLink.vue
  packages/@vuepress/theme-default/components/NavLinks.vue
  packages/docs/docs/.vuepress/config.js
  packages/docs/docs/.vuepress/nav/en.js
  packages/docs/docs/.vuepress/nav/zh.js
  packages/docs/docs/guide/i18n.md
  packages/docs/docs/theme/default-theme-config.md
  packages/docs/docs/zh/guide/i18n.md
  packages/docs/docs/zh/theme/default-theme-config.md
Labels: status: community assigned, type: enhancement, version: 1.x

#1825 fix($theme-default): Fix editLink on specific page
  packages/@vuepress/theme-default/components/PageEdit.vue
Labels: complexity: easy, need feedback, status: community assigned, topic: config, version: 1.x

#1875 fix($theme-default): regression of custom container default title
  packages/@vuepress/theme-default/index.js
Labels: priority: high

#1413 fix($core): optimize error log (close: #1296)
  packages/@vuepress/core/lib/node/loadTheme.js
  packages/@vuepress/core/lib/node/plugin-api/index.js
  packages/@vuepress/shared-utils/src/moduleResolver.ts
Labels: complexity: medium, status: core team assigned, topic: config, type: enhancement, version: 1.x
