Repository vuejs/vuepress, pull requests merged in 2019-08, with the labels that each got.

#1744 adding all-contributors table for core team members
  .all-contributorsrc
  README.md
  package.json
Labels: docs

#1742 docs: fix typo
  packages/docs/docs/zh/config/README.md
  packages/docs/docs/zh/plugin/option-api.md
Labels: docs, docs-language:ch

#1745 feat: documentation linting
  .lintstagedrc
  package.json
  packages/docs/.lintstagedrc
  packages/docs/.textlint.terms.json
  packages/docs/.textlintrc.js
  packages/docs/docs/api/cli.md
  packages/docs/docs/api/node.md
  packages/docs/docs/config/README.md
  packages/docs/docs/faq/README.md
  packages/docs/docs/guide/README.md
  packages/docs/docs/guide/assets.md
  packages/docs/docs/guide/basic-config.md
  packages/docs/docs/guide/deploy.md
  packages/docs/docs/guide/directory-structure.md
  packages/docs/docs/guide/frontmatter.md
  packages/docs/docs/guide/getting-started.md
  packages/docs/docs/guide/global-computed.md
  packages/docs/docs/guide/i18n.md
  packages/docs/docs/guide/markdown-slot.md
  packages/docs/docs/guide/markdown.md
  packages/docs/docs/guide/permalinks.md
  packages/docs/docs/guide/using-vue.md
  packages/docs/docs/miscellaneous/design-concepts.md
  packages/docs/docs/miscellaneous/glossary.md
  packages/docs/docs/plugin/README.md
  packages/docs/docs/plugin/life-cycle.md
  packages/docs/docs/plugin/option-api.md
  packages/docs/docs/plugin/using-a-plugin.md
  packages/docs/docs/plugin/writing-a-plugin.md
  packages/docs/docs/theme/README.md
  packages/docs/docs/theme/default-theme-config.md
  packages/docs/docs/theme/inheritance.md
  packages/docs/docs/theme/option-api.md
  packages/docs/docs/theme/writing-a-theme.md
  packages/docs/package.json
  yarn.lock
Labels: docs

#1756 chore(docs): adds remark-lint, fix #1741
  packages/docs/.remarkrc
  packages/docs/docs/guide/deploy.md
  packages/docs/docs/guide/markdown.md
  packages/docs/docs/guide/permalinks.md
  packages/docs/docs/guide/using-vue.md
  packages/docs/docs/plugin/life-cycle.md
  packages/docs/docs/plugin/official/plugin-back-to-top.md
  packages/docs/docs/plugin/official/plugin-google-analytics.md
  packages/docs/docs/plugin/official/plugin-last-updated.md
  packages/docs/docs/plugin/official/plugin-nprogress.md
  packages/docs/docs/plugin/official/plugin-register-components.md
  packages/docs/docs/plugin/official/plugin-search.md
  packages/docs/docs/theme/inheritance.md
  packages/docs/docs/zh/guide/deploy.md
  packages/docs/docs/zh/guide/directory-structure.md
  packages/docs/docs/zh/guide/markdown.md
  packages/docs/docs/zh/guide/permalinks.md
  packages/docs/docs/zh/guide/using-vue.md
  packages/docs/docs/zh/miscellaneous/design-concepts.md
  packages/docs/docs/zh/miscellaneous/migration-guide.md
  packages/docs/docs/zh/plugin/official/plugin-back-to-top.md
  packages/docs/docs/zh/plugin/official/plugin-google-analytics.md
  packages/docs/docs/zh/plugin/official/plugin-last-updated.md
  packages/docs/docs/zh/plugin/official/plugin-nprogress.md
  packages/docs/docs/zh/plugin/official/plugin-pwa.md
  packages/docs/docs/zh/plugin/official/plugin-register-components.md
  packages/docs/docs/zh/theme/inheritance.md
  packages/docs/docs/zh/theme/option-api.md
  packages/docs/package.json
  yarn.lock
Labels: docs

#1739 workflow: add CONTRIBUTING.md
  .github/CONTRIBUTING.md
Labels: topic: docs
