Repository vuejs/vuepress, pull requests merged in 2019-10, with the labels that each got.

#1705 feat($core): config pattern of resolved files
  packages/@vuepress/core/lib/node/App.js
  packages/@vuepress/core/lib/node/__tests__/prepare/fixtures/docs-patterns/.vuepress/config.js
  packages/@vuepress/core/lib/node/__tests__/prepare/fixtures/docs-patterns/README.md
  packages/docs/docs/config/README.md
  packages/docs/docs/zh/config/README.md
Labels: status: community assigned, topic: config, type: enhancement, version: 1.x

#1734 feat($theme-default): support configuring target and rel for nav links (close #1353)
  packages/@vuepress/theme-default/components/NavLink.vue
  packages/docs/docs/theme/default-theme-config.md
  packages/docs/docs/zh/theme/default-theme-config.md
Labels: status: community assigned, topic: config, topic: docs, topic: theme, type: enhancement, version: 1.x

#1472 feat($config): Allow override of badge colors
  docs/default-theme-config/README.md
  docs/zh/default-theme-config/README.md
  lib/app/components/Badge.vue
  lib/default-theme/styles/config.styl
Labels: topic: theme, type: enhancement, version: 0.x
